In [1]:
print('Hello, World!')

Hello, World!

In [2]:
m = 'Hello, World!'
print(m)

Hello, World!

In [3]:
for i in range(10):
    i = 'Hello, World!'
    print(i)

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [4]:
m = 'Hello, World!'
print(f'Fucking {m}')

Fucking Hello, World!

In [6]:
from datetime import datetime
m = 'Hello,World!'
current_time = datetime.now()
print(f'current_time: {current_time} fucking {m}')

current_time: 2025-04-18 18:32:33.602137 fucking Hello,World!

In [9]:
s1 = 'Hello, '
s2 = 'World!'
hello = lambda s1,s2: s1 + s2
print(hello(s1,s2))

Hello, World!

In [10]:
d = {'Hello, ': 'World!'}
for key, value in d.items():
    print(key + value)

Hello, World!

In [11]:
d = {'Hello, ': 'World!'}
for key in d.keys():
    for value in d.values():
        print(key + value)

Hello, World!

In [12]:
while True:
    print('Hello, World!')
    break

Hello, World!

In [13]:
c = 0
while c != 1:
    print('Hello, World!')
    c += 1

Hello, World!

In [14]:
try:

SyntaxError: incomplete input (3760671423.py, line 1)

In [15]:
try: 
    print('start')

SyntaxError: incomplete input (105800698.py, line 2)

In [18]:
from art import text2art

a = text2art('Cаша, ты вонюччкаааа', font = 'block')
print(a)

ModuleNotFoundError: No module named 'art'

In [22]:
a = 999
print(a//128)
print(a%128)

7
103

In [25]:
n = int(input())
while str(n)[0] != '1' and n < 1000000000:
    n = int(str(n)[0]) * n
print(n)

108

In [27]:
s = str(input())
c = 3
while c > 0:
    n = str(input())
    if n != s:
        c -= 1
        print('Введен неправильный пароль!')
        print(f'Лимит попыток = {c}')
    else:
        print('Вы ввели правильный пароль! Добро пожаловать!')

Введен неправильный пароль!
Лимит попыток = 2
Введен неправильный пароль!
Лимит попыток = 1
Вы ввели правильный пароль! Добро пожаловать!
Вы ввели правильный пароль! Добро пожаловать!
Вы ввели правильный пароль! Добро пожаловать!
Введен неправильный пароль!
Лимит попыток = 0

In [29]:
n = int(input())
c = 0
t = 1
while n > 0:
    n -= t
    t += 1
    c += 1
print(c)

7

In [33]:
with open('C:/Users/Nikita/Desktop/pluto/plutotext.txt','w') as pfile:
    pfile.write('Ya Pidoras\n')
    pfile.write('Ya Pidoras\n')

In [37]:
with open('C:/Users/Nikita/Desktop/pluto/plutotext.txt','r') as rfile:
    read = rfile.read()
    print(read)

Ya Pidoras
Ya Pidoras

In [45]:
import pandas as pd
df = pd.read_csv('C:/Users/Nikita/Desktop/pluto/machine-readable-business-employment-data-dec-2024-quarter.csv')
print(df)

      Series_reference   Period  Data_value Suppressed STATUS   UNITS  \
0          BDCQ.SEA1AA  2011.06     80078.0        NaN      F  Number
1          BDCQ.SEA1AA  2011.09     78324.0        NaN      F  Number
2          BDCQ.SEA1AA  2011.12     85850.0        NaN      F  Number
3          BDCQ.SEA1AA  2012.03     90743.0        NaN      F  Number
4          BDCQ.SEA1AA  2012.06     81780.0        NaN      F  Number
...                ...      ...         ...        ...    ...     ...
24119    BDCQ.SEE3999A  2017.06         NaN          Y      F  Number
24120    BDCQ.SEE3999A  2017.09         NaN          Y      F  Number
24121    BDCQ.SEE3999A  2017.12         NaN          Y      F  Number
24122    BDCQ.SEE3999A  2018.03         NaN          Y      F  Number
24123    BDCQ.SEE3999A  2018.06         NaN          Y      F  Number

       Magnitude                         Subject  \
0              0  Business Data Collection - BDC
1              0  Business Data Collection - BDC
2              0  Business Data Collection - BDC
3              0  Business Data Collection - BDC
4              0  Business Data Collection - BDC
...          ...                             ...
24119          0  Business Data Collection - BDC
24120          0  Business Data Collection - BDC
24121          0  Business Data Collection - BDC
24122          0  Business Data Collection - BDC
24123          0  Business Data Collection - BDC

                                              Group  \
0                   Industry by employment variable
1                   Industry by employment variable
2                   Industry by employment variable
3                   Industry by employment variable
4                   Industry by employment variable
...                                             ...
24119  Territorial authority by employment variable
24120  Territorial authority by employment variable
24121  Territorial authority by employment variable
24122  Territorial authority by employment variable
24123  Territorial authority by employment variable

                               Series_title_1  \
0                                 Filled jobs
1                                 Filled jobs
2                                 Filled jobs
3                                 Filled jobs
4                                 Filled jobs
...                                       ...
24119  Filled jobs (workplace location based)
24120  Filled jobs (workplace location based)
24121  Filled jobs (workplace location based)
24122  Filled jobs (workplace location based)
24123  Filled jobs (workplace location based)

                           Series_title_2 Series_title_3  Series_title_4  \
0       Agriculture, Forestry and Fishing         Actual             NaN
1       Agriculture, Forestry and Fishing         Actual             NaN
2       Agriculture, Forestry and Fishing         Actual             NaN
3       Agriculture, Forestry and Fishing         Actual             NaN
4       Agriculture, Forestry and Fishing         Actual             NaN
...                                   ...            ...             ...
24119  Area Outside Territorial Authority         Actual             NaN
24120  Area Outside Territorial Authority         Actual             NaN
24121  Area Outside Territorial Authority         Actual             NaN
24122  Area Outside Territorial Authority         Actual             NaN
24123  Area Outside Territorial Authority         Actual             NaN

       Series_title_5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
24119             NaN
24120             NaN
24121             NaN
24122             NaN
24123             NaN

[24124 rows x 14 columns]

In [48]:
import pandas as pd
df = pd.read_csv('C:/Users/Nikita/Desktop/pluto/plutodata.csv')
print(df)

   id    name  age
0   1  Nikita   20
1   2   Sasha   20
2   3   Ilyas   21

In [ ]:
#pandas!!!!
import pandas as pd
import matplotlib as plt
plutopar = pd.DataFrame({
    'user_id': range(1,7),
    'name': ['Nikita', 'Sasha', 'Ilyas', 'Murat', 'Elnar', 'Big Smoke'],
    'iq': [200,100,100,100,100,40]
})
plutopar.to_parquet('C:/Users/Nikita/Desktop/pluto/plutopar.parquet',index = True)
df_pluto = pd.read_parquet('C:/Users/Nikita/Desktop/pluto/plutopar.parquet')
print(df_pluto)
high_iq = plutopar[plutopar['iq']> 100]
print(high_iq)
sort_par = plutopar.sort_values(by = 'iq',ascending = True)
print(sort_par)
group = plutopar.groupby('iq')['name'].count().reset_index()
print(group)
plutopar('iq').plot(kind = 'hist', bins = 10, title = 'from smart to stupid')
plt.xlabel('iq')
plt.show()

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [103]:
#datetime!!!!
from datetime import datetime as dt
from datetime import timedelta
date_now = '2025-04-25 21:45:30'
date_obj = dt.strptime(date_now, '%Y-%m-%d %H:%M:%S')
print(date_obj)
date_form = dt.strftime(date_obj, '%B %d, %Y - %H:%M:%S')
print(date_form)
current_time = dt.now()
future = current_time + timedelta(days = 60)
print(future)
dfuture = dt.strftime(future, '%B %d, %Y - %H:%M:%S')

print(dfuture)
print(date_obj.second)
print(future.year)
print(date_obj.month)

2025-04-25 21:45:30
April 25, 2025 - 21:45:30
2025-06-24 21:58:05.681509
June 24, 2025 - 21:58:05
30
2025
4

In [1]:
print("fuck you")

fuck you

In [5]:
a,b = int(input()),int(input())
print(a+b)

3